<div ng-controller='DashboardController'>

  <a href="#/{{dashboard.org_name}}/{{dashboard.repo_name}}/setup"><button>Setup instructions</button></a>

  <h1>{{dashboard.org_name}} / <a href="{{dashboard.repo_link}}">{{dashboard.repo_name}}</a></h1>
  <h3>Branch: {{dashboard.branch}}</h3>
  <div>Last Commit: {{dashboard.last_commit}}</div>

  <div class="users" ng-repeat="user in users">
    <img class="gitimg" src="{{user.github_avatar}}">{{user.name}} - <a href="https://github.com/{{user.git_handle}}">{{user.git_handle}}</a>
    <div class="diffs" ng-repeat="diff in user.diffs">
      {{diff.file}} - {{diff.mod_type}} - {{diff.commit_message}}
    </div>
  </div>
</div>