<div class="dashboard" ng-controller='DashboardController' ng-animate-ref="dashboard">

  <div ng-show="loading" class="spinner">
      <i class="fa fa-circle-o-notch fa-4x fa-spin"></i>
    
      <!--<img
        src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif">--!>
  </div>

  <div ng-show="!loading">
    <div class="dashboardTitle">
      {{orgName}} / <a target-tab href="{{repoLink}}">{{repoName}}</a><a href="#/"><span class="glyphicon glyphicon-circle-arrow-left" title="Go back home"></span></a>
    </div>

    <div class="dashboardBranch">
        master branch
    </div>

    <div class="dashboardSetupBtn">
      <a href="#/{{orgName}}/{{repoName}}/setup"><button type="button" class="btn btn-info btn-sm">Setup instructions</button></a>
    </div>

    <div class="lastCommit">
      Most recent commit at github.com/{{orgName}}/{{repoName}}: <span>{{dashboard.last_commit_sha1}}</span>
    </div>

    <div class="potentialConflicts" ng-show="conflicts.length">
      Potential conflicts:
      <ul>
        <li ng-repeat="conflict in conflicts">{{conflict.file}} is being touched by:<span ng-repeat="user in conflict.users"> {{user.github_handle}}<span ng-show="user !== conflict.users[conflict.users.length-1]">,</span></span></li>
      </ul>
    </div>

    <div class="dashboardUser" ng-repeat="user in users">
      <div ng-class="[users, { upToDate: user.last_pulled_commit_sha1 === dashboard.last_commit_sha1, outOfDate: user.last_pulled_commit_sha1 !== dashboard.last_commit_sha1, notSetUp: user.set_up === 0 }]">
        <div class="dashboardUserCommit">
          <div ng-show="user.last_pulled_commit_sha1 === dashboard.last_commit_sha1" class="status"><span class="glyphicon glyphicon-ok-sign"></span> {{user.github_name}} has pulled {{dashboard.last_commit_sha1}}</div>
          <div ng-show="user.last_pulled_commit_sha1 !== dashboard.last_commit_sha1 && user.set_up" class="status"><span class="glyphicon glyphicon-exclamation-sign"></span> {{user.github_name}} needs to git pull</div>
          <div ng-show="!user.set_up" class="status"><span class="glyphicon glyphicon-exclamation-sign"></span> {{user.github_name}} needs to set up</div>
        </div>

        <div class="dashboardUserInfo">
          <img class="gitimg" src="{{user.github_avatar}}">
          <span id="dashboardGitName">{{user.github_name}}</span>
          <span id="dashboardGitHandle"><a href="https://github.com/{{user.github_handle}}">@{{user.github_handle}}</a></span>
        </div>

        <div class="diffsDiv">
          <div class="modTypeTitle" ng-show="hasModified(user.diffs)">
            MODIFIED
          </div>
          <div class="diffs" ng-repeat="diff in user.diffs" ng-show="diff.mod_type === 'M'">
              <i class="fa fa-file-text"></i> {{diff.file}}
          </div>
          <div class="modTypeTitle" ng-show="hasAdded(user.diffs)">
            ADDED
          </div>
          <div class="diffs" ng-repeat="diff in user.diffs" ng-show="diff.mod_type === 'A'">
              <i class="fa fa-file-text"></i> {{diff.file}}
          </div>
          <div class="modTypeTitle" ng-show="hasDeleted(user.diffs)">
            REMOVED
          </div>
          <div class="diffs" ng-repeat="diff in user.diffs" ng-show="diff.mod_type === 'D'">
              <i class="fa fa-file-text"></i> {{diff.file}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
