<div ng-controller='DashboardController'>

  <a href="#/{{dashboard.org_name}}/{{dashboard.repo_name}}/setup"><button type="button" class="btn btn-info btn-sm">Setup instructions</button></a>

  <h1>{{dashboard.org_name}} / <a href="{{dashboard.repo_link}}">{{dashboard.repo_name}}</a> - {{dashboard.branch}} branch</h1>
  <div class='lastCommit'>
    <h3>Most recent commit at github.com/{{dashboard.org_name}}/{{dashboard.repo_name}}:</h3>
    <h3>{{dashboard.last_commit}}</h3>
    <span> Out of date? </span><button type="button" class="btn btn-info btn-sm" ng-click='getDashboard()'>Update</button>
  </div>

  <div ng-repeat="user in users">
    <div ng-class="[users, { upToDate: user.last_pulled_commit === dashboard.last_commit, outOfDate: user.last_pulled_commit !== dashboard.last_commit, notSetUp: user.set_up === 0 }]">
      <img class="gitimg" src="{{user.github_avatar}}">
      {{user.name}} - <a href="https://github.com/{{user.git_handle}}">{{user.git_handle}}</a>
      <span ng-show="user.last_pulled_commit === dashboard.last_commit" class="alignright status"><span class="glyphicon glyphicon-ok-sign"></span> {{user.name}} has pulled {{dashboard.last_commit}}</span>
      <span ng-show="user.last_pulled_commit !== dashboard.last_commit && user.set_up" class="alignright status"><span class="glyphicon glyphicon-exclamation-sign"></span> {{user.name}} needs to git pull the latest </span>
      <span ng-show="!user.set_up" class="alignright status"><span class="glyphicon glyphicon-exclamation-sign"></span> {{user.name}} needs to set up</span>
      <div class="diffs" ng-repeat="diff in user.diffs">
        {{diff.file}} - {{diff.mod_type}} - {{diff.commit_message}}
      </div>
    </div>
  </div>
</div>