<h1>Spy on a repository</h1>
<p>Select a Github repository you would like to spy on. Don't see your organization's repos? Make sure you've granded GitSpy access <a href="https://github.com/settings/connections/applications/f6813881ccb66bdfc9be">here</a>. Don't see your repository? Make sure that the repo is public or grant access to the private repo <a href="">here</a>.</p>
<ul>
  <li ng-click="postDashboard(repo)" ng-repeat="repo in subsc">
    <div class="button">{{ repo.full_name }}</div>
  </li>
</ul>
