<div class="add" ng-animate-ref="add">
  <div class="addTitle">Join a Dashboard <a href="#/"><span class="glyphicon glyphicon-circle-arrow-left" title="Go back home"></span></a></div>

  <div class="addDesc">
    Select a GitHub repository to join its GitSpy dashboard. Don't see your organization's repo? Make sure you have been granted collaborator access to the repo you would like to join. GitSpy currently only supports public repos.
  </div>

  <div class="filterTextField">
    <table>
      <tr>
        <td width="7%"><span class="glyphicon glyphicon-search"></td>
        <td width="93%"><input type="text" class="form-control" id="filterRepos" placeholder="Filter repos" ng-model='search'></td>
      </tr>
    </table>
  </div>

  <div ng-show="loading" class="spinner">
    <i class="fa fa-circle-o-notch fa-4x fa-spin"></i>
  </div>

  <table class="table tablecss table-hover">
    <tr class="homeRows" ng-repeat="repo in subsc | filter:search | orderBy:'full_name'">
      <td><span class="glyphicon glyphicon-inbox"></span><a ng-click="postDashboard(repo)">{{repo.full_name}}</a></td>
    </tr>
  </table>
  <div class="pages">
    <ul>
      <li class="fa fa-angle-double-left fa-2x" ng-class="{'vis-hidden': fst}"
        ng-click="pages('first')"></li>
      <li class="end" ng-class="{'vis-hidden': prv}"
        ng-click="pages('prev')">Previous</li>
      <li class="end" ng-class="{'vis-hidden': nxt}"
        ng-click="pages('next')">Next</li>
      <li class="fa fa-angle-double-right fa-2x" ng-class="{'vis-hidden': lst}"
        ng-click="pages('last')"></li>
    </ul>
  </div>
</div>
